<h1 style="font-size:40px" class="pull-right">
  <%= @eval.name %>
</h1>
<br>
<br>
<br>
<% @answers.each do |line|  %>
    <h3 style="font-family: 'Paytone One', sans-serif ;">
    <%= line[0].html_safe %>
  </h3>
  <div>
    <%@answer = current_user.answer.where(question_id: line[1][:question_id]).first || Answer.new%>
    <%= bootstrap_form_for(@answer, remote: true )do |ans|%>
      <%= ans.hidden_field :question_id, :value => line[1][:question_id]%>
      <%= ans.hidden_field :user_id, :value => line[1][:user_id]%>
      <%= ans.text_field :student_answer , :value => @answer.student_answer || '' , label: "Réponse :" %>
      <%= ans.submit %>
    <% end %>
  </div>
<% end %>
