<meta charset='utf-8' />
<%= wicked_pdf_stylesheet_link_tag "print.css" -%>


<% @answers.each do |eval_group| %>
  <%intero = eval_group.shift%>
  <h3><%=intero.name%></h3>
  <table class="table table-responsive table-striped">
    <thead>
      <tr>
        <th>User</th>
        <th>Question</th>
      </tr>
    </thead>
      <tbody>
        <%i = 0%>
        <%a = nil%>
              <%eval_group[0].sort_by {|x| x.user_id}.each do |answer|%>
              <%if i == 0 || a == answer.user.email %>
              <%else%>
            </table>
          </tbody>
          <table class="table table-responsive table-striped">
            <tbody>
              <%end%>
        <tr>
          <td><%= answer.user.email %></td>
          <td><%= answer.question.statement.html_safe %></td>
        </tr>
        <tr>
          <td colspan="2"><%= answer.student_answer %></td>
        </tr>
        <% a = answer.user.email %>
        <% i+=1 %>
              <% end %>
      </tbody>

  </table>
  <br>
<% end %>
