<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @answer.user.email %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question.statement %>

<p>
  <strong>Votre reponse</strong>
  <%= @answer.student_answer %>
</p>
</p>

<%= link_to 'Back', answers_path( @answer.question.eval.id) %>
