<%= bootstrap_form_for(eval) do |f| %>
  <% if eval.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(eval.errors.count, "error") %> prohibited this eval from being saved:</h2>

      <ul>
      <% eval.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.text_area :intro %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
