<p id="notice"><%= notice %></p>

<h1>Evals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Intro</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evals.each do |eval| %>
      <tr>
        <td><%= eval.name %></td>
        <td><%= eval.intro %></td>
        <td><%= link_to 'Show', eval %></td>
        <td><%= link_to 'Edit', edit_eval_path(eval) %></td>
        <td><%= link_to 'Destroy', eval, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eval', new_eval_path %>
