 

<h1>Evals</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Intro</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @all_eval.each do |eval| %>
      <tr>
        <td><%= eval.name %></td>
        <td><%= eval.intro %></td>
        <td><%= link_to 'Show', eval ,class: "btn btn-default"%></td>
        <td><%= link_to 'Edit', edit_eval_path(eval) ,class: "btn btn-default"%></td>
        <td><%= link_to 'Destroy', eval, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-default"%></td>
        <td><%= best_in_place eval, :viewable, as: :checkbox, collection: {false: "Nope", true: "Yep"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Eval', new_eval_path %>
